MuslimAID/MuslimAID.suo

MuslimAID/bin/MuslimAID.dll
MuslimAID/bin/MuslimAID.pdb
MuslimAID/obj/*
MuslimAID/SALAM/salam_client_photo/*
MuslimAID/SALAM/salam_client_product/*
MuslimAID/MURABAHA/salam_client_photo/*
MuslimAID/MURABAHA/salam_client_product/*